<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UniversityDeptPortal</display-name>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>org.project.servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInSearch</servlet-name>
    <servlet-class>org.project.servlets.LogInSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInSearch</servlet-name>
    <url-pattern>/LogInSearch/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCourseByFaculty</servlet-name>
    <servlet-class>org.project.servlets.CreateCourseByFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourseByFaculty</servlet-name>
    <url-pattern>/CreateCourseByFaculty/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCourses</servlet-name>
    <servlet-class>org.project.servlets.ViewCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourses</servlet-name>
    <url-pattern>/ViewCourses/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseDetails</servlet-name>
    <servlet-class>org.project.servlets.FacultyCourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseDetails</servlet-name>
    <url-pattern>/FacultyCourseDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseOfferedByLoggedInFaculty</servlet-name>
    <servlet-class>org.project.servlets.CourseOfferedByLoggedInFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseOfferedByLoggedInFaculty</servlet-name>
    <url-pattern>/CourseOfferedByLoggedInFaculty/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitPhDStudentDetails</servlet-name>
    <servlet-class>org.project.servlets.SubmitPhDStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPhDStudentDetails</servlet-name>
    <url-pattern>/SubmitPhDStudentDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPhDStudents</servlet-name>
    <servlet-class>org.project.servlets.ViewPhDStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhDStudents</servlet-name>
    <url-pattern>/ViewPhDStudents/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffServices</servlet-name>
    <servlet-class>org.project.servlets.StaffServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServices</servlet-name>
    <url-pattern>/StaffServices/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewResources</servlet-name>
    <servlet-class>org.project.servlets.ViewResources</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResources</servlet-name>
    <url-pattern>/ViewResources/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReserveResource</servlet-name>
    <servlet-class>org.project.servlets.ReserveResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveResource</servlet-name>
    <url-pattern>/ReserveResource/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostAnnouncements</servlet-name>
    <servlet-class>org.project.servlets.PostAnnouncements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAnnouncements</servlet-name>
    <url-pattern>/PostAnnouncements/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateDiscussionTopic</servlet-name>
    <servlet-class>org.project.servlets.CreateDiscussionTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDiscussionTopic</servlet-name>
    <url-pattern>/CreateDiscussionTopic/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateExam</servlet-name>
    <servlet-class>org.project.servlets.CreateExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateExam</servlet-name>
    <url-pattern>/CreateExam/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewExamDetails</servlet-name>
    <servlet-class>org.project.servlets.ViewExamDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewExamDetails</servlet-name>
    <url-pattern>/ViewExamDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostResultOfStudent</servlet-name>
    <servlet-class>org.project.servlets.PostResultOfStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostResultOfStudent</servlet-name>
    <url-pattern>/PostResultOfStudent/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostAlumniInfo</servlet-name>
    <servlet-class>org.project.servlets.PostAlumniInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAlumniInfo</servlet-name>
    <url-pattern>/PostAlumniInfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAlumniDetails</servlet-name>
    <servlet-class>org.project.servlets.ViewAlumniDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAlumniDetails</servlet-name>
    <url-pattern>/ViewAlumniDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAlumniInfo</servlet-name>
    <servlet-class>org.project.servlets.EditAlumniInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAlumniInfo</servlet-name>
    <url-pattern>/EditAlumniInfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservedResourceByUser</servlet-name>
    <servlet-class>org.project.servlets.ReservedResourceByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservedResourceByUser</servlet-name>
    <url-pattern>/ReservedResourceByUser/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelResource</servlet-name>
    <servlet-class>org.project.servlets.CancelResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelResource</servlet-name>
    <url-pattern>/CancelResource/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAnnouncements</servlet-name>
    <servlet-class>org.project.servlets.ViewAnnouncements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAnnouncements</servlet-name>
    <url-pattern>/ViewAnnouncements/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutUser</servlet-name>
    <servlet-class>org.project.servlets.LogOutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutUser</servlet-name>
    <url-pattern>/LogOutUser/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectDiscussionTopics</servlet-name>
    <servlet-class>org.project.servlets.SelectDiscussionTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDiscussionTopics</servlet-name>
    <url-pattern>/SelectDiscussionTopics/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewResultOfStudent</servlet-name>
    <servlet-class>org.project.servlets.ViewResultOfStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResultOfStudent</servlet-name>
    <url-pattern>/ViewResultOfStudent/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParticipateInDiscussion</servlet-name>
    <servlet-class>org.project.servlets.ParticipateInDiscussion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipateInDiscussion</servlet-name>
    <url-pattern>/ParticipateInDiscussion/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateJobDetails</servlet-name>
    <servlet-class>org.project.servlets.CreateJobDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJobDetails</servlet-name>
    <url-pattern>/CreateJobDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewJobDetails</servlet-name>
    <servlet-class>org.project.servlets.ViewJobDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobDetails</servlet-name>
    <url-pattern>/ViewJobDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCourseDetails</servlet-name>
    <servlet-class>org.project.servlets.ViewCourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourseDetails</servlet-name>
    <url-pattern>/ViewCourseDetails/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPhdStudentDetailsByNetId</servlet-name>
    <servlet-class>org.project.servlets.ViewPhdStudentDetailsByNetId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhdStudentDetailsByNetId</servlet-name>
    <url-pattern>/ViewPhdStudentDetailsByNetId/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewStudentStatus</servlet-name>
    <servlet-class>org.project.servlets.ViewStudentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentStatus</servlet-name>
    <url-pattern>/ViewStudentStatus/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterForExam</servlet-name>
    <servlet-class>org.project.servlets.RegisterForExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterForExam</servlet-name>
    <url-pattern>/RegisterForExam/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentExamResult</servlet-name>
    <servlet-class>org.project.servlets.StudentExamResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentExamResult</servlet-name>
    <url-pattern>/StudentExamResult/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProfessorOfficeHr</servlet-name>
    <servlet-class>org.project.servlets.ViewProfessorOfficeHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfessorOfficeHr</servlet-name>
    <url-pattern>/ViewProfessorOfficeHr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmailIdOfProfessor</servlet-name>
    <servlet-class>org.project.servlets.ViewEmailIdOfProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmailIdOfProfessor</servlet-name>
    <url-pattern>/ViewEmailIdOfProfessor/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyForJob</servlet-name>
    <servlet-class>org.project.servlets.ApplyForJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyForJob</servlet-name>
    <url-pattern>/ApplyForJob/*</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>ViewAppliedJob</servlet-name>
    <servlet-class>org.project.servlets.ViewAppliedJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppliedJob</servlet-name>
    <url-pattern>/ViewAppliedJob/*</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>RegistrationForm.jsp</welcome-file>
  </welcome-file-list>
</web-app>